@use "sass:color";
$header-height: 64px;
$bg-color: #f8fafc;

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; 
  background-color: $bg-color;
}

app-header, app-footer {
  flex: 0 0 auto; 
  width: 100%;
  z-index: 10;
}

.content-area {
  flex: 1 0 auto; 
  width: 100%;
  max-width: 100vw;
  position: relative; 
  display: flex;
  flex-direction: column;
}